
  #navbar {
      height: 60px;
      width: 100%;
      background-color: #FACA2A;
      padding: 0px;
  }

  #navbar ul {
      list-style-type: none;
    background-color: PURPLE;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }

  #navbar li {
      float: left;
  }

  #navbar a:link, #navbar a:visited {
      display: block;
      width: 100px;
      height: 60px;
      padding: 0px;
      font-weight: bold;
      color: #FFF;
      background-color: #FACA2A;
      text-align: center;
      text-decoration: none;
      line-height: 60px;
  }

  #navbar a:hover, #navbar a:active {
      background-color: #DAAA0A;
  }

  #logo {
      float: left;
  }

  #navigation {
      float: left;
        background-color: BLACK;
        padding: 0px;
  }

  #login {
      background-color: RED;
      float: right;
  }

  #content {
      height: 400px;
      width: 100%;
      padding: 0px;
      float: left;
  }

  #footer {
      height: 100px;
      width: 100%;
      background-color: #FACA2A;
      padding: 0px;
      float: left;
    text-align: center;
    line-height: 100px;
  }

