<style type="text/css">

  #navbar {
      height: 60px;
      width: 100%;
      background-color: #FACA2A;
      padding: 0px;
  }

  #navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }

  #navbar li {
      float: left;
  }

  #navbar p, #navbar img {
      vertical-align: middle;
  }

  #navbar a:link, #navbar a:visited {
      display: block;
      width: 100px;
      height: 60px;
      padding: 0px;
      font-weight: bold;
      color: #FFF;
      background-color: #FACA2A;
      text-align: center;
      text-decoration: none;
      test-transform: uppercase;
  }

  #navbar a:hover, #navbar a:active {
      background-color: #DAAA0A;
  }

  #logo {
      float: left;
  }

  #navigation {
      float: left;
  }

  #login {
      float: right;
  }

  #content {
      height: 800;
      width: 100%;
      padding: 0px;
  }

  #footer {
      height: 100;
      width: 100%;
      background-color: #FACA2A;
      padding: 0px;
  }

</style>
