<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  <link rel=stylesheet" href="{% static "style.css" %}" />
  <title>{% block title %}OJ{% endblock %}</title>
</head>

<body>
  <div id="navbar">
    {% block navbar %}
    <a id="logo" ref="/entry/"><img src="{% static "logo.png" %}"></a>
    <ul id="navigation">
      <li><a href="/entry/"><p>Entry<p></a></li>
      <li><a href="/view/"><p>View</p></a></li>
      <li><a href="/find/"><p>Find</p></a></li>
    </ul>
    <ul id="login">
      <li id="username"><a href="#"><p>{{ username }}</p></a></li>
      <li><a class="ojbutton" href="#"><p>Sign In</p></a></li>
    </ul>
    {% endblock %}
  </div>
  <div id="content">
    {% block content %} 
    {% endblock %}
  </div>
  <div id="footer">
    {% block footer %} 
    <p>OJ was developed by Darian Ramage, Don Robertson, George Nikolashin, Michael Free, and Kyle Shepherdson</p>
    {% endblock %}
  </div>
</body>
</html>

