{% extends "base.html" %}

{% block title %}OJ Find{% endblock %}

{% block findActive %}active{% endblock %}

{% block mainBlock %}
        <div class="row">
            <div class="col-xs-12">
                {% autoescape on %}{{ find }}{% endautoescape %}
                        <div>
                        	<p class="text-center">Find an entry</p>
                        </div>
			<form action="/find/" method="post">
				{{ form }}
                        <button class="btn btn-lg btn-primary btn-block" value="Submit" type="submit">Search</button>
			</form>

            </div>
        </div>
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                <div class="list-group">
                    <input type="text" class="form-control text-center" id="datepicker" placeholder="Date">
                    </input>
                    <br/>Tags:
                </div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="row">
                {% if entries %}
                {% for i in entries %}
                {% for j in i %}
                    <div class="col-6 col-sm-6 col-lg-4">
                        <h2>{{ j.title }}</h2>
                        <p>{{ j.content }}</p>
                        <p>No Tags</p>
                        <p>
                            <a class="btn btn-default" href="#" role="button">Edit</a>
                            <a class="btn btn-default" href="#" role="button">View</a>
                        </p>
                    </div>
                 {% endfor %}
                 {% endfor %}
                 {% endif %}
                </div>
            </div>
        </div>
        <br/>
        <br/>
{% endblock %}

