{% extends "base.html" %}

{% block title %}OJ Find{% endblock %}

{% block findActive %}active{% endblock %}

{% block mainBlock %}
        <div class="row">
            <div class="col-xs-12">
                <input type="text" class="form-control text-center" placeholder="Search for keyword, title, group, or tag here"></input>
            </div>
	    <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
        </div>
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                <div class="list-group">
                    <input type="text" class="form-control text-center" id="datepicker" placeholder="Date">
                    </input>
                    <br/>Tags:
                    <a class="list-group-item">Tag A</a>
                    <a class="list-group-item">Tag B</a>
                    <a class="list-group-item">Tag C</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="row">
                    <div class="col-6 col-sm-6 col-lg-4">
                        <h2>Title of Result 1</h2>
                        <p>Tags of Result 1</p>
                        <p>Date of Result 1</p>
                        <p>
                            <a class="btn btn-default" href="#" role="button">Edit</a>
                            <a class="btn btn-default" href="#" role="button">View</a>
                        </p>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-4">
                        <h2>Title of Result 2</h2>
                        <p>Tags of Result 2</p>
                        <p>Date of Result 2</p>
                        <p>
                            <a class="btn btn-default" href="#" role="button">Edit</a>
                            <a class="btn btn-default" href="#" role="button">View</a>
                        </p>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-4">
                        <h2>Title of Result 3</h2>
                        <p>Tags of Result 3</p>
                        <p>Date of Result 3</p>
                        <p>
                            <a class="btn btn-default" href="#" role="button">Edit</a>
                            <a class="btn btn-default" href="#" role="button">View</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
{% endblock %}

