{% extends "base.html" %}

{% block title %}OJ View{% endblock %}

{% block viewActive %}active{% endblock %}

{% block mainBlock %}
	<div class="row">
            <div class="col-md-1">
                <button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
            </div>
            <div class="col-md-10">
                <h2>{{ title }}</h2>
                <h3>{{ date }}</h3>
                <br/>
                <p>{{ content }}</p>
		<br/>
		<p>{{ tags }}</p>
		<p>{{ lastEdited }}</p>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>
        <br/>
        <br/>
{% endblock %}

{% block footer %}
<p class="text-muted">This is the VIEW page</p>
{% endblock %}
